doctype html
html(lang="en")
    head
        meta(charset='utf-8')   
        title Top Down PUB 
        meta(name='viewport', content='width=device-width, initial-scale=1, shirnk-to-fit=no')  
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='../public/stylesheets/style.css')
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://use.fontawesome.com/c17148c1f9.js')
        script(src='/socket.io/socket.io.js')
        script(src='../public/javascripts/game.js')
        script(src='../public/javascripts/lib/easel.js')
    block content
        