@charset "utf-8";
/* CSS Document */
.pubg-form {
	border: 1px solid black;
	background-color: rgba(225,225,225,0.4);
}
/* secure/index.pug */
body {
	min-height: 100vh;
	min-width: 100vw;
	background-image: url(../images/anthony-delanoix-28851.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	overflow: hidden;
	position: relative;
}
.character {
	position: absolute;
	top: calc(50% - 25vh);
	right: calc(50% - 25vh);
	height: 50vh;
	width: 50vh;
	border-radius: 25vh;
	background-color: slateblue;
	background-image: url(../images/avatar-01.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.top-right-nav {
	position: absolute;
	top: 0vh;
	right: 3vh;
}
.invite-btn {
	position: absolute;
	bottom: 4vh;
	left: 3vh;
}
.play {
	position: absolute;
	top: 0vh;
	left: 3vh;
}
#server-time {
	position: absolute;
	bottom: 2vh;
	right: 3vh;
}
.version {
    width: 300px;
    height: 20px;
    position: absolute;
	bottom: 9vh;
	right: calc(50vw - 150px);
}
#canvas {
    -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-top: -2vh;
}
.game {
    background-image: url("../images/main-background.jpg");
    
}
.game h1 {
    font-size: 120px;
    margin-top: 5vh;
    font-family: 'Teko', sans-serif;
}