@charset "utf-8";
/* CSS Document */
body {
  background-image: url(../images/anthony-delanoix-28851.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.pubg-form {
	border: 1px solid black;
	background-color: rgba(225,225,225,0.4);
}