@charset "utf-8";
/* Main Page */
body {
	height: 100vh;
	width: 100vw;
	background-image: url(../images/main-background.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	overflow: hidden;
	position: relative;
}
.character {
	position: absolute;
	top: calc(50% - 25vh);
	right: calc(50% - 25vh);
	height: 50vh;
	width: 50vh;
	border-radius: 25vh;
	background-color: slateblue;
	background-image: url(../images/avatar-01.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.top-right-nav {
	position: absolute;
	top: 0vh;
	right: 3vh;
}
.invite-btn {
	position: absolute;
	bottom: 4vh;
	left: 3vh;
}
.play {
	position: absolute;
	top: 0vh;
	left: 3vh;
}
#server-time {
	position: absolute;
	bottom: 4vh;
	right: 3vh;
}