extends ../views/header.pug
block content
    body(onload='init()')
      script
        include ../public/javascripts/game.js
        include ../public/javascripts/lib/easel.js
      center
          canvas#canvas(width='1260', height='720' , style=';border:5px solid #CACACA;')
    .version.text-center
            p#version Version: #{version}
            p#server-time
            p#server-url(hidden='true') #{ServerURL}
